.maintitle{
  background:linear-gradient(90deg,orange, yellow);
  padding: 3%;
  margin-bottom: 3%;
  color:white;
  font-size: 20px;
}

body{
  background: url("../img/background.jpg") repeat-y center/cover;
  text-align: center;
  font-size: 14px;
}


.subtitle{
  color: crimson;
}

.character{
  background-color: white;
  width: 300px;
  margin: 30px auto;
  padding: 20px 0px;
  border:solid 10px grey;
}

.pic{
  height:200px;
}

.operation_title{
  color:steelblue;
  padding-top: 4%;
}

.list li {
  list-style: none;
  padding: 2% 3%;
  text-decoration: underline;
}

.list {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;

}
.action:hover,
#chat:hover{
      color:hotpink;
}


.copyright{
  color:gray;
  font-size: 11px;
}
